/* Container for home route */
.home-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f7fa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Main content area */
.home-main {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
  flex-grow: 1;
  text-align: center;
  color: #333;
  margin-top:150px;
}

.home-main h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home-main p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #666;
}

.home-div{
  display: flex;
  justify-content: center;
  align-items: center;
}