.card-div{
    display:flex;
    gap:12px;
    flex-wrap: wrap;
    height: 100vh;
    justify-content:flex-start;
    align-items: center;
}
.hole-class{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}