<!-- Shoping model -->
<div>
  <app-nav  (searched)="getTheInput($event)"></app-nav>
  <div class="hole-class">
  <div class="card-div">
  <div *ngFor="let item of products">
    <app-card
    [items]="item"
    *ngIf="searchedItem === '' || item.name.toLowerCase().includes(searchedItem.toLowerCase())">
  </app-card>
  </div>
  </div>
</div>
</div>
 <!-- <app-angtrf [age]="calAge()"></app-angtrf> -->
<!-- <p>{{myvar.selectedValue}}</p> --> 
<!-- <input type="date" #DOB (blur)="calculate()"/><br/>
<input type="text" #AGE /> -->

<!-- 
<app-lifecycle></app-lifecycle> -->
